@model Gruppeoppgave1.Models.Kunde

@{
    ViewBag.Title = "info";
}

<!DOCTYPE html>

<html lang="no">
<head>
    <title>Info</title>
</head>
<body>
<div class="info">
    @{
        var keys = Request.Form.AllKeys;
        var value = "";
        for (int i = 0; i < keys.Length; i++)
        {
            value = Request.Form[keys[i]];
        }
        Console.WriteLine(value);
    }
</div>
</body>
</html>