
@using Gruppeoppgave1.Models
@model KundeReise

@{
    ViewBag.Title = "dobbelModel";
    Layout = null;
}

@{Html.RenderPartial("KundeInfo", Model);}
@{Html.RenderPartial("Reiser", Model);}

<h2>dobbelModel</h2>

