
@{
    ViewBag.Title = "Index";
}

<h1 class="center-block"> Velkommen til VY, kjoer rundt hele norge</h1>
<img src="~/IMG/linjekartNormalstraight.png" alt="linjekart med stasjoner" class="center-block" width="700" height="1000"/>
