@model Gruppeoppgave1.Models.Kunde

@{
    ViewBag.Title = "info";
    var email = Request["email"];
    var fornanvn = Request["Fornavn"];
    var etternavn = Request["Etternavn"];
    var Telefon = Request["Telefon"];
    var Dato = Request["Dato"];
    var Fra = Request["Fra"];
    var Til = Request["Til"];
}


<!DOCTYPE html>
<html lang="no">

<head>
    <title>Info</title>
</head>
<body>
<script type="text/javascript">
const promiseVy = fetch("https://booking.cloud.nsb.no/api/itineraries/search", 

{
    "credentials":"omit","headers":
{
    "accept":"application/json",
    "content-type":"application/json",
    "sec-fetch-mode":"cors",
    "x-language":"no"},
    "referrer":"https://www.vy.no/bestill/velg-togavgang?from=Oslo%20S&fromDisplayName=Oslo%20S&fromType=train-station-name&to=Oslo%20Lufthavn&toDisplayName=Oslo%20Lufthavn&toType=train-station-name&departureDatetime=2019-09-30%2011%3A35&petFree=false&pasCats=1&numPasCats=1",
    "referrerPolicy":"no-referrer-when-downgrade",
    "body":"{\"to\":\"Oslo Lufthavn\",\"from\":\"Oslo S\",\"time\":\"2019-09-30T11:35\",\"limitResultsToSameDay\":true,\"language\":\"no\",\"passengers\":[{\"type\":\"ADULT\",\"customerNumber\":null,\"discount\":\"NONE\",\"extras\":[]}],\"priceNecessity\":\"REQUIRED\",\"hasReturnTrip\":false}","method":"POST","mode":"cors"});
     jason = promiseVy
     .then(data => data.json())
     .then(data => data.itineraries)
     .then(data => {
     	console.log(data[0].priceOptions[0].amount);
     	
     });
         
     
</script>
<div class="container table-bordered">
    <h1>Din billett!</h1>
    <div class="col-lg-6">
        <label>Email:</label>
        @email
        <br/><label>Fornavn:</label>
        @fornanvn
        <br/><label>Etternavn:</label>
        @etternavn
        <br/><label>Telefon:</label>
        @Telefon
    </div>
    <div class="col-lg-6">
        <br/><label>Dato:</label>
        @Dato
        <br/><label>Fra:</label>
        @Fra
        <br/><label>Til:</label>
        @Til
    </div>
</div>
</body>
</html>