
@{
    ViewBag.Title = "kjopBillet";
}

<h2>Kjøp billett</h2>

<div>
    <form>
        <h2>Start din reise her!</h2>
        Fra:
        <input type="text" name="fra" id="fra"/>
        <input type="date"/>
        Til:
        <input type="text" name="til" id="til"/>
        <input type="date"/>
        <button class="btn-primary">Kjøp bilett</button>
    </form>
</div>

