﻿
@{
    ViewBag.Title = "kjopBillet";
}

<h2>Kjøp billett</h2>
<h2>Start din reise her!</h2>

<form action="/Home/info" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            <label for="Fornavn">Fornavn</label>
            <input type="text" class="form-control" name="Fornavn" id="Fornavn" placeholder="Fornavn">      
            <label for="Etternavn">Etternavn</label>
            <input type="text" class="form-control" name="Etternavn" id="Etternavn" placeholder="Etternavn">     
            <label for="Tlf">Telefon</label>
            <input type="tel" class="form-control" name="Telefon" id="Tlf" placeholder="Tlf">
        </div>
        <div class="form-group col-md-6">
            <label for="dato">Dato</label>
            <input type="date" name="dato" id="dato" class="form-control"/>
            <label for="Fra">Fra</label>
            <input type="text" name="Fra" list="fromSuggestions" class="stopInput form-control" placeholder="Fra"/>
            <datalist id="fromSuggestions">
            </datalist>
            <label for="til">Til</label>
            <input type="text" name="til" list="toSuggestions" id="til" class="stopInput form-control" placeholder="Til"/>
            <datalist id="toSuggestions">
            </datalist>
        </div>
        <div class="form-group col-md-6">
            <button type="submit" class="btn btn-primary">Kjøp Bilett</button>
        </div>
    </div>
</form>


