
@{
    ViewBag.Title = "Reisevalg";
    Session["Dato"] = Request["Dato"];
    Session["Fra"] = Request["Fra"];
    Session["Til"] = Request["Til"];
    Session["Tid"] = Request["Tid"];
}

<script type="text/javascript">
const promiseVy = fetch("https://booking.cloud.nsb.no/api/itineraries/search", 

{
    "credentials":"omit","headers":
{
    "accept":"application/json",
    "content-type":"application/json",
    "sec-fetch-mode":"cors",
    "x-language":"no"},
    "referrer":"https://www.vy.no/bestill/velg-togavgang?from=Oslo%20S&fromDisplayName=Oslo%20S&fromType=train-station-name&to=Oslo%20Lufthavn&toDisplayName=Oslo%20Lufthavn&toType=train-station-name&departureDatetime=2019-09-30%2011%3A35&petFree=false&pasCats=1&numPasCats=1",
    "referrerPolicy":"no-referrer-when-downgrade",
    "body":"{\"to\":\"Oslo Lufthavn\",\"from\":\"Oslo S\",\"time\":\"2019-09-30T11:35\",\"limitResultsToSameDay\":true,\"language\":\"no\",\"passengers\":[{\"type\":\"ADULT\",\"customerNumber\":null,\"discount\":\"NONE\",\"extras\":[]}],\"priceNecessity\":\"REQUIRED\",\"hasReturnTrip\":false}","method":"POST","mode":"cors"});
     jason = promiseVy
     .then(data => data.json())
     .then(data => data.itineraries)
     .then(data => {
     	console.log(data[0].priceOptions[0].amount);
     	
     });
         
     
</script>

<h1>Reisevalg</h1>
<h2>Reise valg for @Session["Fra"] til @Session["Til"]</h2>
<h2>Tid: @Session["Dato"] @Session["Tid"]</h2>


