
@{
    ViewBag.Title = "reisen";
    var Fra = Request["Fra"];
    var Til = Request["Til"];
    var Dato = Request["Dato"];
    List<string> myList = new List<string>();
    myList.Add(Fra);
    myList.Add(Til);
    myList.Add(Dato);
    Session["var"] = myList;
    
}

<h2>Reisen</h2>

<!DOCTYPE html>
<html lang="no">

<head>
    <title>Info</title>
</head>

<body>
    <div class="col-lg-6">
        <br /><label>Dato:</label>
        @Dato
        <br /><label>Fra:</label>
        @Fra
        <br /><label>Til:</label>
        @Til
    </div>
</body>
</html>
