.white{
    background-color: white;
}

.black {
    color: black !important;
}

.black:hover{
    font-weight: bold !important;
}

.size {
    width: 500px;
    height: 337px;
}

.showThis {
    display: none;
}

.disapear {
    display: none; !important;
}

.fjernStyle{
    border: none; !important;
    text-align: left;
    outline: none;
    box-shadow: none;
    width: 11%;
}

.region{
    width: auto;
    text-align: center;
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .gone {
        display: none;
    }
    
    .showThis{
        display: inline-block;
    }
}