.white{
    background-color: white;
}

.black {
    color: black !important;
}

.black:hover{
    font-weight: bold !important;
}

.size {
    width: 500px;
    height: 337px;
}

.showThis {
    display: none;
}

.disapear {
    display: none; !important;
}

@media only screen and (max-width: 1200px) {
    .gone {
        display: none;
    }
    
    .showThis{
        display: inline-block;
    }
}